body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color:#6c7279;
    background-color: #fff;
    overflow-x: hidden;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0 0 10px;
}
.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding-left:20px;
    padding-right:20px;
    overflow: hidden;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}
.search_space{
    display: flex;
    height: 50px;
    justify-content: space-between;

}
.search_bar {
    height: 40px;
    width: 80%;
    border-radius: 25px;
    margin: 0 48px;
    outline: none
}
.search_bar:focus {
    outline-width: 0
}


.card__pizza__cart__btn__search_space{
    text-transform: uppercase;
    color: white;
    width: 175px;
    font-size: 15px;
    height: 35px;
    background: #F44A25;
    border-radius: 25px;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.card__pizza__cart__btn__search_space:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
.adminPage_btn:hover{
    color: #F44A25;
    background-color: white;
}
