.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding-left:20px;
    padding-right:20px;
    overflow: hidden;
}
.main__space{
    display: flex;
    margin-bottom: 30px;

    }
.main__text{
    position: absolute;
    color: black;
    width: 100%;
    padding-top: 240px;
}
.title__main__page{
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
}
.subTitle__main__page{
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
}
.btn__main__order{
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
    color: white;
    width: 175px;
    height: 50px;

    background: #F44A25;
    border-radius: 25px;
}
.main__photo{
    height:760px;
    border-radius: 10%;
    padding-left: 30px;
}
.main__top__text{
    text-align: center;
    font-family: 'Fira Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 74px;
    color: #333333;
    margin-bottom: 50px;
}
.cards__placeholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__pizza{
    margin-right: 20px;
    margin-bottom: 50px;
    box-shadow: 13px 9px 20px -10px rgba(244,74,37,0.6);
    text-align: center;
    width: 290px;
    height: 530px;
    border: 1px solid #BDBDBD;
    border-radius: 5%;
    overflow: hidden;
    transition: transform .2s linear;
}
.card__pizza:hover{
    transform: translate3d(-10px, -10px,0);
}

.card__pizza__img{
    height: 290px;
    width: 290px;
    margin-bottom: 5px;
   }
.card__pizza__title{
    font-family: 'Fira Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 5px;
}
.card__pizza__discription{
    font-style: italic;
    font-family: 'Fira Sans', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: #333333;
}
.card__pizza__price__tag{
    font-family: 'Fira Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #333333;
    margin: 15px;
}
.card__pizza__cart__btn{
    text-transform: uppercase;
    color: white;
    width: 175px;
    height: 50px;
    background: #F44A25;
    border-radius: 25px;
}
