.btn_main_page_photo{
    color: white;
    font-size: 20px;
    align-items: center;
    width: 150px;
    height: 50px;
    border-color: transparent;
    background: #F44A25;
    border-radius: 25px;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.btn_main_page_photo:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
.dropbtn {
    text-transform: uppercase;
    border-radius: 25px;
    width: 150px;
    padding: 5px;
    font-size: 15px;
    border-color: transparent;
    height: 40px;
    position: center;
    background-color: #F44A25;
    color: white;
    cursor: pointer;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.dropbtn:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}


.dropbtn:hover, .dropbtn:focus {

}
.btn{
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 25px;
    color: white;
    align-items: center;
    border-color: transparent;
    cursor: pointer;
    background: #F44A25;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.btn:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
.btn:focus {
    background: #F44A25;
    color: white;
    outline: none;
    box-shadow: none;
}
.btn__pizza_card{
    text-transform: uppercase;
    border-radius: 25px;
    width: 40px;
    margin: 1px 5px;
    font-size: 15px;
    height: 40px;
    position: center;
    background-color: #F44A25;
    border-color: transparent;
    color: white;
    cursor: pointer;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.btn__pizza_card:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
.header__btn{
    color: white;
    align-items: center;
    width: 90px;
    height: 40px;
    border-color: transparent;
    background: #F44A25;
    border-radius: 25px;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.header__btn:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
.btn__cart_clear{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid rgb(244, 74, 37);
    color: gray;
    background: none;
    outline: none;
    cursor: pointer;
    transition: color .2s linear, background .2s linear
}
.btn__cart_clear:hover{
    background-color: #F44A25;
    color: #f9f9f9;
}
.btn__cart_checkout{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #F44A25;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.btn__cart_checkout:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
.closeBtn {
    position: absolute;
    bottom: 20px;
    right: 60px;
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background-color: #F44A25;
    color: #f9f9f9;
    transition:  color .2s linear, background .2s linear, border .2s linear;
}

.closeBtn:hover {
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
.submit_btn{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #F44A25;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.submit_btn:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
.btn__pswd_page{
    width:80px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #F44A25;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color .2s linear, background .2s linear, border .2s linear
}
.btn__pswd_page:hover{
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}
