.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    border: 0.5px solid rgb(244, 74, 37);
}

.modal {
    width: 250px;
    height: 170px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    background: white;
    padding: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
}
.modalContent_text{
    font-size: 20px;
}
.closeBtn {
    position: absolute;
    bottom: 20px;
    right: 60px;
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background-color: #F44A25;
    color: #f9f9f9;
    transition:  color .2s linear, background .2s linear, border .2s linear;
    }

.closeBtn:hover {
    background-color: #f9f9f9;
    color:#F44A25;
    border: 0.5px solid rgb(244, 74, 37);
}

