.cards__placeholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__pizza__link{
    text-decoration: none;
    color: #585353;
   }
.card__pizza__title:hover {
    color: #F44A25;
}
.card__pizza{
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 50px;
    box-shadow: 13px 9px 20px -10px rgba(244,74,37,0.6);
    text-align: center;
    width: 290px;
    height: 530px;
    border: 1px solid #BDBDBD;
    border-radius: 5%;
    overflow: hidden;
    transition: transform .2s linear;
}

.card__pizza__img{
    height: 255px;
    width: 290px;
    margin-bottom: 5px;

}
.card__pizza__title{
    font-family: 'Fira Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 5px;
    transition: color .1s linear;
}
.card__pizza:hover{
    transform: translate3d(-10px, -10px,0);
}
.card__pizza__discription{
    font-style: italic;
    font-family: 'Fira Sans', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: #333333;
}
.card__pizza__price__tag{
    font-family: 'Fira Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #333333;
    margin: 15px;
}
.card__pizza__cart__btn{
    text-transform: uppercase;
    color: white;
    width: 175px;
    height: 50px;
    background: #F44A25;
    border-radius: 25px;
    transition: color .2s linear, background .2s linear;
}
.card__pizza__cart__btn:hover{
    color: #F44A25;
    background-color: white;
}
